/* -------- FONT-FAMILY -------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* -------- COLORS -------- */

:root {
    ---MAIN-COLOR-PAGE: #500000;
    ---MAIN-COLOR-FONT: #ffffff;
}

/* -------- STYLING -------- */

body {
    background-color: var(---MAIN-COLOR-PAGE);
    color: var(---MAIN-COLOR-FONT);
    font-family: "Poppins", sans-serif;
    height: 100%;
    margin: 0;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.wrapper {
    width: 50%;
    background: #fff;
    border-radius: 15px;
    background: #7e0200;
    user-select: none;
    text-align: center;
    padding: 20px;
}

#important {
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

#lists li {
    opacity: 0;
    animation: fadeIn 0.8s ease forwards;
}

#lists li:nth-child(1) {
    animation-delay: 0.5s;
}

#lists li:nth-child(2) {
    animation-delay: 1s;
}

#lists li:nth-child(3) {
    animation-delay: 1.5s;
}

#lists li:nth-child(4) {
    animation-delay: 2s;
}

#lists li:nth-child(5) {
    animation-delay: 2.5s;
}

#lists li:nth-child(6) {
    animation-delay: 3s;
}

#lists li:nth-child(7) {
    animation-delay: 3.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.next-button {
    transition: opacity 0.5s ease;
    opacity: 1;
    background-color: #ffffff;
    border-radius: 5px;
    border-style: none;
    color: #500000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 70px;
    text-align: center;
    z-index: 1;
}

#position {
    display: flex;   
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}